In [1]:
from tensorflow.keras import regularizers
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import models
import numpy as np
import pandas as pd

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')
# %cd drive/MyDrive/tabular_playground

Mounted at /content/drive
/content/drive/MyDrive/tabular_playground

In [3]:
net = models.load_model('net_5908')

In [4]:
submit = pd.read_csv('sample_submission.csv')

In [5]:
attr_map = {'material_5' : 0, 'material_6' : 1, 'material_7' : 2, 'material_8' : 3,}

In [6]:
test = pd.read_csv('test.csv')
test['attribute_0'] = test['attribute_0'].map(attr_map)
test['attribute_1'] = test['attribute_1'].map(attr_map)

In [7]:
columns = test.columns

In [8]:
for column in columns[2:len(columns)]:
  print(column)
  if test[column].isnull().any():
    # print(csv[column].mean)
    temp = test[column].to_numpy()
    temp = temp[~np.isnan(temp)]
    test[column] = test[column].fillna(np.mean(temp))
    print(np.mean(temp))
    print(test[column].isnull().any())

loading
127.63489538731024
False
attribute_0
attribute_1
attribute_2
attribute_3
measurement_0
measurement_1
measurement_2
measurement_3
17.79346649711435
False
measurement_4
11.727330600019641
False
measurement_5
17.138079932895838
False
measurement_6
17.5157974790333
False
measurement_7
11.71091917227624
False
measurement_8
19.030765015806114
False
measurement_9
11.41792109103719
False
measurement_10
16.123985741830733
False
measurement_11
18.846571414023117
False
measurement_12
11.914229741489635
False
measurement_13
15.736104406327033
False
measurement_14
16.123958158779413
False
measurement_15
15.115915457806894
False
measurement_16
16.636052154788707
False
measurement_17
701.3898163908589
False

In [9]:
x_sub = test.to_numpy()[:, 2 : 25]
id = test.to_numpy()[:, 0]
x_sub.shape

(20775, 23)

In [10]:
x_sub = np.array(x_sub).astype('float32')
y_pred = np.array(net.predict(x_sub)[:, 0])
y_pred.shape, x_sub.shape

650/650 [==============================] - 2s 2ms/step

((20775,), (20775, 23))

In [11]:
state = {}
max_prob = max(y_pred)
for idx, value in enumerate(y_pred):
  # state[id[idx]] = min(1, value * (1 / max_prob))
  state[id[idx]] = value

In [12]:
submit['failure'] = submit['id'].map(state)
submit

          id   failure
0      26570  0.700258
1      26571  0.660550
2      26572  0.695365
3      26573  0.697524
4      26574  0.826073
...      ...       ...
20770  47340  0.732489
20771  47341  0.593612
20772  47342  0.583476
20773  47343  0.713768
20774  47344  0.630287

[20775 rows x 2 columns]

In [13]:
submit.to_csv('submit.csv', index = False)